<app-page-title titleHeading='List Groups' titleDescription='These can be used with other components and elements to create stunning and unique new elements for your UIs.'></app-page-title>
<app-example-wrapper-seamless sectionHeading="Examples variations IV">
    <app-list-groups-variations-4></app-list-groups-variations-4>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations VIII">
    <app-list-groups-variations-8></app-list-groups-variations-8>
</app-example-wrapper-seamless>

