<div  class="app-footer text-black-50">
    <div class="app-footer--first">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-free" target="_blank">Download now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-pro" target="_blank">View PRO Version</a>
            </li>
        </ul>
    </div>
    <div class="app-footer--second">
        <span>Bamburgh Angular Admin Dashboard with NGX Bootstrap Free</span> © 2020 - crafted with <span class="text-danger px-1">❤</span> by <a href="https://uifort.com" target="_blank" title="UiFort.com">UiFort.com</a>
    </div>
</div>
