<app-page-title titleHeading='Icons' titleDescription='Wide icons selection including from flag icons to FontAwesome and other icons libraries.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <div class="bg-premium-dark mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">FontAwesome</h4>
                <p class="mb-3 px-4">Over 1500 pixel perfect icons available, each designed from scratch, forged from years of experience.</p>
                <div class="px-5">
                    <app-icons-fontawesome></app-icons-fontawesome>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="bg-midnight-bloom mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Socicons</h4>
                <p class="mb-3 px-4">Over 290 icons from various companies and logos ready to be used in your application.</p>
                <div class="px-5">
                    <app-icons-socicons></app-icons-socicons>
                </div>
            </div>
        </div>
    </div>
</div>

