
<div class="hero-wrapper bg-composed-wrapper bg-second min-vh-100">
    <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image opacity-8" style="background-image: url('assets/images/hero-bg/hero-5.jpg');"></div>
        <div class="bg-composed-wrapper--bg bg-deep-sky opacity-2"></div>
        <div class="bg-composed-wrapper--content pt-5 pb-2 py-lg-5">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-10 px-0 mx-auto d-flex align-items-center">
                        <div class="text-center">
                            <!-- <span class="badge badge-pill badge-danger px-4 text-uppercase h-auto py-1" tooltip="Version: 1.0.0">FREE angular admin dashboard template</span> -->
                            <div class="px-4 px-sm-0 text-white mt-4">
                                <h1 class="display-2 mb-5 font-weight-bold" >
                                    ADMIN PANEL
                                </h1>
                                <p class="font-size-xl text-white-50 mb-3" style="visibility:hidden">
                                    ________________________________________________________________________________________________
                                </p>
                                <!-- <p class="text-white font-size-lg">This admin template features a solid design system and integrates perfectly with existing apps.</p>
                                <div class="divider border-2 border-light my-5 border-light opacity-2 mx-auto rounded-circle w-50"></div> -->
                                <div>
                                    <a [routerLink]="['/products']" class="btn btn-lg btn-success d-block d-sm-inline-block" title="">
                                        <span class="btn-wrapper--label">
                                            ENTER
                                        </span>
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                                        </span>
                                    </a>
                                    <!-- <a class="btn btn-lg btn-warning d-block d-sm-inline-block ml-0 mt-3 mt-sm-0 ml-sm-3" href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-free" target="_blank" title="Download Bamburgh Angular Admin Dashboard with NGX Bootstrap Free">
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'download']"></fa-icon>
                                        </span>
                                        <span class="btn-wrapper--label">
                                            Download now
                                        </span>
                                    </a>
                                    <a href="https://uifort.com/template/bamburgh-angular-admin-dashboard-ngx-bootstrap-pro" target="_blank" class="btn btn-lg btn-first d-block d-sm-inline-block ml-0 ml-sm-3 mt-3 mt-sm-0" title="Learn more about Bamburgh Angular Admin Dashboard NGX Bootstrap PRO version">
                                        <span class="btn-wrapper--icon">
                                            <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
                                        </span>
                                        <span class="btn-wrapper--label">
                                            PRO Version
                                        </span>
                                    </a> -->
                                </div>
                                <!-- <small class="d-block pt-4">For a comprehensive list of components &amp; commercial licenses, we recommend the PRO version.</small> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-indicator animated font-size-xxl text-white opacity-10 delay-1s infinite heartBeat d-none d-sm-block">
        <i class="fas fa-arrow-down animated fadeInDown slow delay-2s infinite"></i>
    </div>
</div>


