<app-page-title titleHeading='Accordions' titleDescription='Accordions represent collapsable component with extended functionality.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-seamless sectionHeading="Basic">
            <app-accordions-basic></app-accordions-basic>
        </app-example-wrapper-seamless>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-seamless sectionHeading="Collapse">
            <app-accordions-collapse></app-accordions-collapse>
        </app-example-wrapper-seamless>
    </div>
</div>

