<app-page-title titleHeading='Navigation menus' titleDescription='Navigation menus are one of the basic building blocks for any web or mobile app.'></app-page-title>


<app-example-wrapper-simple sectionHeading="Vertical menus">
    <app-navigation-menus-vertical-basic></app-navigation-menus-vertical-basic>
</app-example-wrapper-simple>


<app-example-wrapper-simple sectionHeading="Horizontal menus">
    <app-navigation-menus-horizontal></app-navigation-menus-horizontal>
</app-example-wrapper-simple>

